<h1>Welcome to the information input system</h1>
<h1> </h1>
<h1> </h1>
<h1> </h1>
<div ><%= link_to("The time", "/greetings/time") %></div>
<div ><%= link_to("To the system", "/visitors") %></div>
<div ><a href="https://github.com/lantu81">To My github</a><div >
